#logo {
    height: 1cm;
    margin: 1.0cm;
    margin-left: 3cm;

}

#esterno {
    height: 3cm;
    background-color: lightblue;
    background-image: url(../img/pattern.png);
    background-size: contain;
}

#subsection1 {
    line-height: 0;
}

#footer {
    background-color: rgba(49, 58, 107, 1);
    height: 2cm;
    margin-top: 1cm;
}

#fine {
    color: white;
    font-size: 10pt;
    text-align: center;
}

.coloredtr {
    background-color: rgb(223, 229, 242);
}

.testo {
font-size: 11pt;
text-align: justify;
}

.th1 {
    width: 25%
}
a {
    text-decoration: none;
    color: rgb(17, 151, 235)
}

main {
    margin-left: 3cm;
    margin-right: 3cm;
}

h1 {
    font-size: 20pt;
}

h4 {
    color: grey;
    font-weight: 500;
}

h6 {
    color: gray;
    font-weight: 200;
}

figcaption {
    font-size: 8pt;
    margin-left: -1cm;
}

thead {
    background-color: rgb(127, 166, 251);
    color: white;
}

img {
    margin-left: -1cm;
    height: 9cm;
}