#logo {
    height: 1cm;
    margin: 1.0cm;
    margin-left: 3cm;

}

#esterno {
    height: 3cm;
    background-color: lightblue;

}

#subsection1 {
    line-height: 0;
}

#footer {
    background-color: rgba(49, 58, 107, 1);
    height: 2cm;
    margin-top: 1cm;
}

#fine {
    color: white;
    font-size: 10pt;
    text-align: center;
}

.coloredtr {
    background-color: rgb(223, 229, 242);
}

main {
    margin-left: 3cm;
    margin-right: 3cm;
}

h1 {
    font-size: 20pt;
}

h4 {
    color: grey;
    font-weight: 500;
}

h6 {
    color: gray;
    font-weight: 200;
}

figcaption {
    font-size: 8pt;
}

thead {
    background-color: rgb(127, 166, 251);
    color: white;
}

img {
    margin-left: -1cm;
    margin-right: -1cm;
}